@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
  --main-primary: #f7f8f5;
  --main-white: #fff;
  --control-primary: #e3e9f8;
  --control-hover: #c9d7f5;
  --control-danger: #f8d9d9;
  --control-danger-hover: #eca8a8;
  --typo-primary: #111;
  --divider: #ddd;
  --adaptive-h1: 36px;
  --adaptive-h3: 18px;
  --adaptive-body: 14px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--main-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: var(--typo-primary);
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 16px;
  text-transform: none;
}

.row {
  display: flex;
  gap: 15px;
}
