.imageSlider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.thumbnails {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail.active {
  border-color: var(--control-hover);
}
